<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>애견 동반 & 산책 장소</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='juyeon_css.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='juyeon_javascript.js') }}"></script>

</head>

<body>

<div class="jumbotron">
    <h1 class="display-4">애견동반 장소</h1>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">사진 업로드</a>
    <hr class="my-4">
    <p>후기</p>
    <p class="lead">
    <div class="review-box">
        <div class="form-group">
            <label>이름</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                   placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label>리뷰 작성</label>
            <textarea class="form-control" id="review" rows="3"
                      placeholder="리뷰를 작성해주세요"></textarea>
        </div>
        <div class="form-group">
            <label>평점</label>
            <input type="text" class="form-control" id="rating" placeholder=" 1-5까지 평점을 입력하세요">
        </div>

    <div class="rate" onclick="starpoint">
        <input type="radio" id="star5" name="rate" value="5"/>
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4"/>
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3"/>
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2"/>
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1"/>
        <label for="star1" title="text">1 star</label>
    </div>


    <a class="btn btn-primary btn-lg" href="#" role="button" onclick="makeReview()">후기등록</a>
        </p>
        </p>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">이름</th>
                <th scope="col">리뷰</th>
                <th scope="col">평점</th>
            </tr>
            </thead>
            <tbody id="reviews-box">
            </tbody>
        </table>

    </div>
</div>


</body>

</html>
