.images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 140px;
}

.image-card{
    border-radius: 10px;
    margin: 5px;
    background-color: white;
}

.images-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 140px 140px 140px;
    row-gap:10px;
}

