<!doctype html>
<html lang="en">
    <head>

        <!-- Webpage Title -->
        <title>Hello, world!</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

         <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


        <script>

        function login() {

                let id = $("#input-id").val()
                let pw = $("#input-pw").val()

                if (id == "") {
                    $("#help-id-login").text("아이디를 입력해주세요.")
                    $("#input-id").focus()

                    return;
                } else {
                    $("#help-id-login").text("")
                }

                if (pw == "") {
                    $("#help-password-login").text("비밀번호를 입력해주세요.")
                    $("#input-pw").focus()

                    return;
                } else {
                    $("#help-password-login").text("")
                }



                $.ajax({
                    type: "POST",
                    url: "/api/login",
                    data: {id_give:$('#input-id').val(), pw_give: $('#input-pw').val()},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            $.cookie('mytoken', response['token']);

                            alert('로그인 완료!')
                            window.location.href = '/'
                        } else {
                            alert('로그인 실패!')
                        }
                    }
                });
            }

        </script>

    </head>
    <body>
  <section class="vh-100" style="background-color: #FFFFFF;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://cdn.shopify.com/s/files/1/0248/9516/0386/files/Grainfree_1600x.jpg?v=1592579060" style="margin-top:130px"
                alt="login form"
                class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0"><b>댕댕백서</b></span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">로그인하기</h5>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="input-id">Id</label>
                    <input type="email" id="input-id" class="form-control form-control-lg" />
                  </div>
                   <p id="help-id-login" class="help"></p>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="input-pw">Password</label>
                    <input type="password" id="input-pw" class="form-control form-control-lg" />
                  </div>
                   <p id="help-password" class="help"></p>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-success btn-lg btn-block" type="button" onclick="login()">로그인</button>
                  </div>
                   <div class="pt-1 mb-4">
                    <button class="btn btn-success btn-lg btn-block" type="button" onclick="location.href='/register'">회원가입</button>
                  </div>


                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  </body>
</html>
